body{
	background-color: dodgerblue;
}

#txt{
	text-align: center;
	color: white;
}


.button{
	transition-duration: 0.8s;
	color: black;
	background-color: white;
	border-radius: 12px;
	border: none;
	border-top-left-radius: 1px;
	border-bottom-right-radius: 1px;
	font-size: 30;
	padding: 140px 25px;
	display: inline-block;
	border: 4px solid black;
	font-family: Fira Code;
}
.button:hover{
	transition-duration: 1s;
	border: 8px solid black;
	cursor: pointer;

}
